<% content_for :title, "抽出条件" %>
<% content_for :head do %>
  <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
<% end %>

<div class="-mt-28 -mx-5 min-h-screen w-screen bg-[#f6f1ec] font-sans text-[#2e2a26]">
  <div class="mx-auto flex min-h-screen w-full max-w-[375px] flex-col" data-controller="brew-setup">
    <header class="flex shrink-0 items-center justify-between bg-[#f6f1ec] px-5 pt-4 pb-2">
      <%= link_to coffee_records_path, class: "flex h-11 w-11 shrink-0 items-center justify-center rounded-full bg-white text-[#2e2a26] shadow-[0_2px_8px_rgba(0,0,0,0.04)]" do %>
        <iconify-icon icon="lucide:chevron-left" class="text-xl" style="color: #2e2a26"></iconify-icon>
      <% end %>
      <h1 class="text-base font-bold text-[#2e2a26]">抽出条件</h1>
      <div class="h-11 w-11 shrink-0" aria-hidden="true"></div>
    </header>

    <%= form_with model: @coffee_record, class: "flex min-h-0 flex-1 flex-col" do |f| %>
      <%= render "brew_setup_form", f: f %>
    <% end %>
  </div>
</div>
